<footer class="footer">
  <small style="float: left;">
    &nbsp;&nbsp;Aplicativo <a href="#">Gestão de Obras</a>
    por <a href="#">Marcelo Pinheiro</a>
  </small>
  <nav>
    <ul>
      <li>Pagina <span class='Page'></span> de <span class='topage'></span></li>
      <li>&nbsp;&nbsp;</li>
    </ul>
  </nav>
</footer>

