<footer class="footer">
  <small style="float: left;">
    &nbsp;&nbsp;Aplicativo <a href="#">Gestão de Obras</a>
    por <a href="#">Marcelo Pinheiro</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Sobre",   '#' %></li>
      <li><%= link_to "Contato", '#' %></li>
      <li>&nbsp;&nbsp;</li>
    </ul>
  </nav>
</footer>

