<div class='navbar'>
  <div class="navbar-collapse">
    <ul class='nav navbar-nav'>
      <li><%= link_to 'Obras','/obras' %></li>
      <li><%= link_to 'Fornecedores','/fornecedores' %></li>
    </ul>
  </div>
</div>
